@charset "utf-8";

@font-face{
    font-family:'robotoregular';
    src:url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'robotobold';
    src:url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face{
    font-family:'robotolight';
    src:url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face{
    font-family:'robotomedium';
    src:url('../fonts/Roboto-Medium.ttf') format('truetype');
}
body{
    font-family: robotoregular;
}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover{
    z-index: 0;
}

table.table thead{
    font-family: robotobold;
    font-weight: inherit;
}
table.table tbody{
    font-family: robotolight;
}
.image-cargando{
    text-align: center;
}
.image-cargando img{
    width: 20px;
    display: inline-block;
}

label.error{
    position: absolute;
    right: 8px;
    top: 7px;
}
label.error i{
    position: relative;
    top: 0px;
    left: 0px;
    color: #fd2121;
    font-size: 20px;
}
.form-control.error{
    padding-right: 30px;
    border-color: #e96666;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}
.tooltip > .tooltip-inner {
    background-color: #f44336; 
    color: #FFFFFF; 
    border: 1px solid #ee1000;
    padding: 8px;
    font-size: 12px;
}
.tooltip.left{
    margin-right: 17px;
}
.tooltip-inner{
    min-width: 180px;
    max-width: 250px;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #f00;
}



.modal-title{
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}
.modal-header {
    padding: 10px 15px;
    background: #2dcc6f;
    border-bottom: 1px solid #ffffff;
}
.modal-body {
    position: relative;
    padding: 20px 15px 0px 15px;
}
.modal-footer {
    padding: 3px 15px 12px 15px;
    text-align: right;
    border: none;
}
.modal-footer button{
    background: #2dcc6f;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 6px 20px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0px;
}
.modal-content{
    border-radius: 0px;
    border: 2px solid #2dcc6f;
}


.btn_new_contract{
    background: #9ac53c;
    top: -4px;
    color: #fff;
    padding: 9px 20px;
    position: relative;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
    font-family: robotoregular;
    margin-right: 15px;
}
#imgHeaderLogo2{
    max-width: 70%;
    max-height: 170px;
}
#imgHeaderLogo1{
    width: 75px;
}
.icon-arrow-left{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
    content: "\e079";
}
.icon-arrow-right{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
    content: "\e080";
}
#footer{
    background: #9ac53c;
    text-align: center;
    font-size: 9px;
    padding: 17px 16px;
}
#footer p{
    margin: 0px 0 3px;
    color: #fff;
}
#backdrop-menu{
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.75);
}
#contenedor{
    position: relative;
    background: #c9ffd0;
    padding: 10px 0px;
    margin-top: 52px;
    background-size: 100% auto;
    padding: 0px;
}

#menu .navbar-center1 a {
    display: table-cell;
    vertical-align: middle;
    width: 245px;
    text-shadow: none;
    padding: 10px 30px;
    color: #fff;
}
#menu .navbar-default .navbar-nav>.open>a{
    background: #9ac53c;
}
#menu .navbar-header,#menu .navbar-default{
    background-color: #ffffff;
    border-color: #ffffff;
    margin-bottom: 0px;
    box-shadow: none;
    border-radius: 0px;
}
#menu .navbar-default .navbar-toggle, #menu .navbar-default .navbar-toggle:hover{
    background-color: #9ac53c;
    border-color: #9ac53c;
}
#menu .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 24px;
}
#menu .navbar-brand{
    padding: 0px;
    margin-left: 20px;
}
#menu #logo{
    height: 35px;
    margin-top: 7.5px;
}
#menu .navbar-nav{
    margin-top: 0px;
    width: 245px;
}
#menu #navbar-ex1-collapse{
    position: fixed;
    top: 52px;
    left: -1px;
    z-index: 10;
    background: #279549;
    height: 100vh;
}
#menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #9ac53c;
}
#menu .navbar-right{
    display: none;
}
#menu li{
    border-bottom: 1px solid #279549;
    font-size: 13px;
    overflow: hidden;
    background: rgba(42, 101, 44, 0.57);
}
#menu li i{
    margin-right: 7px;
    display: none;
}
#menu li a{
    color: #5b5b5b;
}
#back-contenedor{
    background: #c9ffd0;
}

@media (min-width: 480px) {
    #footer{
        padding: 12px 65px;
        font-size: 10.5px;
    }
    #menu .navbar-nav{
        width: 320px;
    }
    #menu .navbar-center1 a {
        width: 320px;
    }
}

@media (min-width: 768px) {
    #menu .navbar-center1 li{
        width: auto;
        display: inline-block;
        float: left;
        max-width: 150px;
    }
    #menu .navbar-default .navbar-nav>.open>a {
        background: #fff;
        box-shadow: none;
    }
    #contenedor {
        margin-top: 0px;
    }
    #footer{
        padding: 15px 65px;
        font-size: 11.2px;
    }
    #menu .navbar-nav{
        width: 450px;
    }
    #menu li{
        background: #fff;
    }
    #menu #navbar-ex1-collapse{
        position: initial;
        background: #fff;
    }
    #backdrop-menu{
        display: none!important;
    }
    .delete-web{
        display: none!important;
    }
    #menu .nav.navbar-nav{
        width: 458px;
    }
    #menu .nav.navbar-nav.navbar-right{
        display: block;
        width: 145px;
        margin-left: 15px;
    }
    #menu .navbar-header{
        width: 120px;
    }
    #menu{
        position: relative;
        height: 60px;
    }
    #menu li{
        border: none;
        overflow: inherit;
    }
    #menu .navbar{
        float: none;
        margin: 0 auto;
        width: 740px;
        border: none;
    }
    
    #menu .navbar-center1 i{
        display: none;
    }
    #menu .navbar-right a{
        padding: 0px;
        height: 59px;
    }
    #menu .navbar-center1 a{
        color: #3e3e3e;
        padding: 0px 15px;
        text-align: center;
        font-size: 11.75px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        box-sizing: content-box;
        height: 59px;
        width: inherit;
        background: #fff;
    }
    #menu .navbar-nav>li>a:hover {
        color: #88c145;
    }
    #menu .navbar-nav>li>a:hover #cont-sesion{
        color: #5b5b5b;
    }
    #nav-rigth{
        list-style: none;
        padding: 0px;
        margin-bottom: 10px;
    }
    #nav-rigth li{
        cursor: pointer;
        padding: 4px 10px;
    }
    #nav-rigth li:hover{
        color: #fff;
        background: #9ac53c;
    }
    #cont-sesion{
        position: absolute;
        width: 100%;
        padding: 0px;
        background: #ffffff;
        top: calc(100% + 5px);
        right: 0px;
        border: 1px solid rgba(0, 0, 0, .15);
        box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
        display: none;
    }
    #cont-sesion hr{
        margin: 0px;
        margin-bottom: 8px;
        width: 90%;
        margin-left: 4%;
    }
    #cont-sesion:before {
        content: '';
        position: absolute;
        right: 25px;
        top: -5px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
    }
    #btn-cerrar-sesion{
        text-align: center;
        background: #9ac53c;
        color: #fff;
        padding: 9px;
        border-radius: 6px;
        cursor: pointer;
    }
    #btn-cerrar-actualizar{
        text-align: center;
        background: #6f8bca;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        margin-top: 9px;
    }
    #session-img{
        width: 100%;
        text-align: center;
        font-size: 75px;
        color: #000;
        margin-bottom: 15px;
    }
    #session-datos{
        float: left;
        display: inline-block;
        margin-left: 12px;
        color: #000;
        text-align: left;
    }
    #session-top{
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #session-nombre-datos{
        font-weight: bold;
        font-size: 13px;
    }
    #session-numero-datos{
        font-weight: 400;
        font-size: 12px;
    }
    #cont-nav-right a{
        min-width: none
    }
    #cont-nav-right #cont-nav-right1{
        float: left;
        display: inline-block;
        width: 30px;
        padding-top: 18px;
    }
    #cont-nav-right #cont-nav-right2{
            float: left;
        display: inline-block;
        text-align: left;
        padding: 12px 8px 0px 10px;
        width: 96px;
    }
    #cont-nav-right #cont-nav-right3{
        float: left;
        display: inline-block;
        width: 9px;
        padding-top: 19px;
        font-size: 18px;
    }
    #menu .session-ruc{
        display: none;
    }
    #menu .navbar-brand{
        margin-left: 0px;
        padding: 0px;
        overflow: hidden;
        box-sizing: content-box;
        height: 40px;
        margin-top: 10.5px;
    }
    #menu #logo {
        height: 40px;
        margin-top: 0px;
    }
    #session-user-gly{
        font-size: 24px;
        top: 0px;
        float: right;
    }
}

@media (min-width: 992px) {
    #footer{
        padding: 18px 65px;
        font-size: 12.4px;
    }
    #menu .navbar{
        width: 980px;
    }
    #menu {
        height: 60px;
    }
    #menu .navbar-center1 i {
        font-size: 17px;
        margin-bottom: 5px;
    }
    #menu .navbar-brand {
        padding: 0px;
        margin-top: 10px;
        height: 42px;
    }
    #menu .navbar-center1 li{
        max-width: inherit;
    }
    #menu #logo {
        height: 42px;
    }
    #menu .navbar-center1{
        margin-left: 20px;
    }
    #menu .nav.navbar-nav {
        width: 612px;
    }
    #menu .navbar-center1 a {
        height: 59px;
        font-size: 13px;
    }
    #menu .nav.navbar-nav.navbar-right {
        width: 200px;
    }
    #menu .navbar-right a {
        height: 59px;
    }
    #menu .session-ruc {
        display: inline-block;
    }
    #cont-nav-right #cont-nav-right2 {
        width: 135px;
    }
    #cont-nav-right #cont-nav-right1 {
        width: 26px;
    }
    #cont-nav-right #cont-nav-right3 {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    #footer{
        padding: 22px 50px;
        font-size: 13px;
    }
    #menu .navbar{
        width: 1150px;
    }
    #menu {
        height: 60px;
    }
    #menu #logo {
        height: 42px;
    }
    #menu .navbar-center1 a {
        height: 59px;
        font-size: 12.5px;
        color: #5b5b5b;
        background: none;
        padding: 0px 15px;
    }
    #menu .navbar-brand {
        padding: 0px;
    }
    #menu .navbar-header {
        width: 125px;
    }
    #menu .nav.navbar-nav.navbar-right {
        width: 215px;
    }
    #menu .nav.navbar-nav {
        width: 720px;
    }
    #menu .navbar-center1 i {
        font-size: 24px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #menu #cont-nav-right{
        color: #5b5b5b;
        font-size: 12.5px;
    }
    #menu .navbar-right a {
        height: 59px;
        padding: 0px;
    }
    #cont-nav-right #cont-nav-right2 {
        width: 155px;
    }
}

@media (min-width: 1300px) {
    #menu .navbar{
        width: 1250px;
    }
}