@charset "utf-8";

#form-change-pass label,#form-change label{
    font-family: robotobold;
    font-size: 13.5px;
    margin-bottom: 3px;
}
.cont-listado-contenedor h2{
    margin-bottom: 20px;
}
.btn_actualizar {
    font-size: 14px;
    color: #fff;
    border: none;
    background: #9ac53c;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: 5px;
}
h3{
    font-family: robotobold;
    font-size: 20px;
    margin-bottom: 13px;
    margin-top: 25px;
}

#modalBusinessEdit .form-group{
    margin-bottom: 9px;
}
#logoBusinessView{
    width: 130px;
}
#imageeditLogo ,#imageAddLogo{
    width: 128px;
    max-width: 130px;
}

@media (min-width: 420px) {
}

@media (min-width: 480px) {
   
}

@media (min-width: 768px) {
   
}

@media (min-width: 992px) {
    .cont-lista-business-width{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {
    .cont-lista-business-width{
        width: 450px;
    }
}

@media (min-width: 1300px) {

}