@charset "utf-8";


.form-group{
    position: relative;
}
.form-control-padding{
    padding-left: 32px;
}
.form-group i{
    position: absolute;
    font-size: 15px;
    top: 9px;
    left: 10px;
    color: #777;
}
table.dataTable th,table.dataTable td {
     white-space: nowrap;
 }
 textarea.form-control{
    height: 150px;
    resize: none;
 }
#listBusiness{
	border: 1px solid #dddddd;
}
#cont-listado-business{
    float: none;
    margin: 0 auto;
    background: #fff;
}
#cont-listado-business{
	width: 100%;
    font-size: 11px;
    padding: 15px 10px 45px 10px;
    position: relative;
}
#cont-listado-business .dataTables_paginate {
    float: none;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}
#cont-listado-business h2{
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;

}
.table-responsive{
	border: none!important;
}
#cont-listado-business th, #cont-listado-business td{
	vertical-align: middle;
}
.btn_actualizar {
    font-size: 14px;
    color: #fff;
    border: none;
    background: #9ac53c;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: 5px;
}
h3{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
}


#cont-list-sliders{
    width: 960px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.cont-img{
    width: 300px;
    margin-right: 20px;
    float: left;
    margin-bottom: 15px;
}
.cont-img .cont-img-imagen img{
    width: 100%;
}
.cont-img-delete{
    margin-top: 8px;
    text-align: center;
}
.cont-img-delete img{
    width: 25px;
    cursor: pointer;
}

@media (min-width: 420px) {
    #cont-listado-business{
		font-size: 12px;
	}
}

@media (min-width: 480px) {
    #cont-listado-business{
		font-size: 12.2px;
	}
	#cont-listado-business h2{
		font-size: 25.5px;
	}
}

@media (min-width: 768px) {
   	#cont-listado-business{
		font-size: 12.4px;
		padding: 25px 20px 45px 20px;
	}
	#cont-listado-business h2{
		font-size: 27px;
	}
    
}

@media (min-width: 992px) {
    #cont-listado-business{
		font-size: 12.5px;
	}
	#cont-listado-business h2{
		font-size: 28px;
	}
    .cont-lista-business-width{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {
    #cont-listado-business{
    	font-size: 12.6px;
    }
    #cont-listado-business h2{
		font-size: 29px;
	}
    .cont-lista-business-width{
        width: 450px;
    }
}

@media (min-width: 1300px) {
    #cont-listado-business{
	    font-size: 12.8px;
	    padding: 25px 30px 65px 30px;
    }
    #cont-listado-business h2{
		font-size: 30px;
	}
}