@charset "utf-8";

.help-article{
    display: block;
    margin-top: -10px;
    font-size: 11px;
    margin-bottom: 8px;
}
.help-article span{
    font-family: robotobold;
}
.contTipoTitulo{
    margin-top: 20px;
    font-family: robotobold;
    font-size: 15px;
}
.contTipoTexto{
    font-size: 14px;
    font-family: robotolight;
    padding-left: 15px;
}
.checkbox, .radio{
    margin-bottom: 15px;
    overflow: hidden;
}
.checktype{
    top: -1.5px;
}

label.checkname{
    display: block;
    width: 380px;
    float: left;
}
label.checkoption{
    display: block;
    width: 160px;
    float: left;
}
label.checkeditar{
    display: block;
    width: 160px;
    float: left;
}

@media (min-width: 420px) {
    
}

@media (min-width: 480px) {
   
}

@media (min-width: 768px) {
    #modalTipoContratoAdd .modal-dialog , #modalTipoContratoEdit .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .cont-lista-business-width{
        width: 750px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {
    .cont-lista-business-width{
        width: 800px;
    }
}

@media (min-width: 1300px) {
}