@charset "utf-8";


.form-group{
    position: relative;
}
.form-control-padding{
    padding-left: 32px;
}
.form-group i{
    position: absolute;
    font-size: 15px;
    top: 9px;
    left: 10px;
    color: #777;
}
table.dataTable th,table.dataTable td {
     white-space: nowrap;
 }
 textarea.form-control{
    height: 150px;
    resize: none;
 }
#listUser{
    border: 1px solid #dddddd;
}
#cont-listado-users{
    float: none;
    margin: 0 auto;
    background: #fff;
}
#cont-listado-users{
    width: 100%;
    font-size: 11px;
    padding: 15px 10px 45px 10px;
    position: relative;
}
#cont-listado-users .dataTables_paginate {
    float: none;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}
#cont-listado-users h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;

}
.table-responsive{
    border: none!important;
}
#cont-listado-users th, #cont-listado-users td{
    vertical-align: middle;
}
.cont-onoff{
    position: relative;
    text-align: left;
    float: none;
    margin: 0 auto;
    width: 68px;
}
#btn_new_business {
    font-size: 14px;
    color: #fff;
    border: none;
    background: #9ac53c;
    border-radius: 4px;
    padding: 8px 10px;
    margin-top: 5px;
}



.onoffswitch {
    position: relative; width: 68px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 22px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #51C234; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 2px solid #FFFFFF; border-radius: 22px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.img-view{
    width: 28px;
    cursor: pointer;
}
.img-edit{
    width: 19px;
    margin-left: 5px;
    cursor: pointer;
}
#fileimageeditLogo{
    display: none;
}
#fileimageAddLogo{
    display: none;
}
#labelimageeditLogo{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}
#labelimageAddLogo{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}
#imageeditLogo{
    width: 268px;
    max-width: 270px;
}
#imageAddLogo{
    width: 268px;
    max-width: 270px;
}
.viewBusinessData{
    margin-left: 8px;
}
#logoBusinessView{
    margin-top: 12px;
}

/*#modalUserView .modal-header,#modalUserEdit .modal-header, #modalUserAdd .modal-header{
    border: none;
}
#modalUserView .modal-title,#modalUserEdit .modal-title, #modalUserAdd .modal-title{
    font-weight: bold;
    padding-top: 4px;
}*/
#modalUserView .modal-subtitle,#modalUserEdit .modal-subtitle, #modalUserAdd .modal-subtitle{
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 6px;
    margin-top: 0px;
    font-size: 16px;
}
#modalUserView .modal-body,#modalUserEdit .modal-body,#modalUserAdd .modal-body{
    padding: 15px 15px 15px 15px;
}
#modalUserView .form-group,#modalUserEdit .form-group ,#modalUserAdd .form-group{
    margin-bottom: 6px;
    font-size: 12.5px;
}
#modalUserEdit .form-group{
    margin-bottom: 9px;
}
#logoBusinessView{
    width: 130px;
}
#imageeditLogo ,#imageAddLogo{
    width: 128px;
    max-width: 130px;
}

/*#modalUserEdit .modal-footer button, #modalUserView .modal-footer button,#modalUserAdd .modal-footer button{
    border-radius: 4px;
    border: none;
    color: #fff;
    background: #9ac53c;
    padding: 5px 19px;
}
.modal-footer{
    border: none;
    padding: 4px 15px 15px 15px;
}*/

@media (min-width: 420px) {
    #cont-listado-users{
        font-size: 12px;
    }
    #modalUserView .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
    #modalUserEdit .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
    #modalUserAdd .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
}

@media (min-width: 480px) {
    #cont-listado-users{
        font-size: 12.2px;
    }
    #cont-listado-users h2{
        font-size: 25.5px;
    }
    #modalUserView .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
    #modalUserEdit .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
    #modalUserAdd .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
}

@media (min-width: 768px) {
    #cont-listado-users{
        font-size: 12.4px;
        padding: 25px 20px 45px 20px;
    }
    #cont-listado-users h2{
        font-size: 27px;
    }
    .modal-footer {
        padding: 4px 30px 15px 15px;
    }

    #modalUserView .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalUserEdit .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalUserAdd .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalUserView .form-group, #modalUserEdit .form-group, #modalUserAdd .form-group {
        margin-bottom: 5px;
        font-size: 13px;
    }
    #modalUserView .modal-body, #modalUserEdit .modal-body, #modalUserAdd .modal-body {
        padding: 25px 33px 15px 33px;
    }
    /*#modalUserView .modal-title, #modalUserEdit .modal-title, #modalUserAdd .modal-title {
        font-weight: bold;
        padding-top: 7px;
        padding-left: 14px;
    }*/
    #logoBusinessView {
        width: 165px;
        margin-top: 15px;
    }
    #imageeditLogo {
        width: 163px;
        max-width: 165px;
    }
    #imageAddLogo {
        width: 163px;
        max-width: 165px;
    }
}

@media (min-width: 992px) {
    #cont-listado-users{
        font-size: 12.5px;
    }
    #cont-listado-users h2{
        font-size: 28px;
    }
    #contTable{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {
    #cont-listado-users{
        font-size: 12.6px;
    }
    #cont-listado-users h2{
        font-size: 29px;
    }
    #contTable{
        width: 1100px;
    }
}

@media (min-width: 1300px) {
    #cont-listado-users{
        font-size: 12.8px;
        padding: 25px 30px 65px 30px;
    }
    #cont-listado-users h2{
        font-size: 30px;
    }
}