@charset "utf-8";

.modal label {
    font-family: robotobold;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 7px;
}
.modal .modal-subtitle{
    margin-bottom: 0px;
    padding-bottom: 3px;
}
.modal label.error{
    margin-top: 0px;
}
#fileimageeditLogo{
    display: none;
}
#fileimageAddLogo{
    display: none;
}
#labelimageeditLogo{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}
#labelimageAddLogo{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}
#imageeditLogo{
    width: 268px;
    max-width: 270px;
}
#imageAddLogo{
    width: 268px;
    max-width: 270px;
}
.viewBusinessData{
    margin-left: 8px;
}
#logoBusinessView{
    margin-top: 12px;
}



#modalBusinessView .modal-body,#modalBusinessEdit .modal-body,#modalBusinessAdd .modal-body{
    padding: 2px 15px 15px 15px;
}
#modalBusinessView .form-group,#modalBusinessEdit .form-group ,#modalBusinessAdd .form-group{
    margin-bottom: 6px;
    font-size: 12.5px;
}
#modalBusinessEdit .form-group{
    margin-bottom: 9px;
}
#logoBusinessView{
    width: 130px;
}
#imageeditLogo ,#imageAddLogo{
    width: 128px;
    max-width: 130px;
}

@media (min-width: 420px) {
    #modalBusinessView .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
    #modalBusinessEdit .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
    #modalBusinessAdd .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
}

@media (min-width: 480px) {
    #modalBusinessView .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
    #modalBusinessEdit .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
    #modalBusinessAdd .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
}

@media (min-width: 768px) {
    .modal-footer {
        padding: 4px 30px 15px 15px;
    }

    #modalBusinessView .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalBusinessEdit .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalBusinessAdd .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalBusinessView .form-group, #modalBusinessEdit .form-group, #modalBusinessAdd .form-group {
        margin-bottom: 5px;
        font-size: 13px;
    }
    #modalBusinessView .modal-body, #modalBusinessEdit .modal-body, #modalBusinessAdd .modal-body {
        padding: 3px 33px 15px 33px;
    }

    #logoBusinessView {
        width: 165px;
        margin-top: 15px;
    }
    #imageeditLogo {
        width: 163px;
        max-width: 165px;
    }
    #imageAddLogo {
        width: 163px;
        max-width: 165px;
    }
}

@media (min-width: 992px) {
    .cont-lista-business-width,#filtros{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {
    .cont-lista-business-width,#filtros{
        width: 1100px;
    }
}

@media (min-width: 1300px) {
}