@charset "utf-8";

#listBusiness button.btn-asignado{
	background: #5f67cb;
    border: none;
    padding: 3px 13px;
    color: #fff;
    width: 141px;
}
#listBusiness button.btn-no-asignado{
	background: #c5565a;
    border: none;
    padding: 3px 13px;
    color: #fff;
    width: 141px;
}


@media (min-width: 420px) {
    
}

@media (min-width: 480px) {
   
}

@media (min-width: 768px) {
   	
}

@media (min-width: 992px) {
    .cont-lista-business-width{
        width: 780px;
        margin: 0 auto;
        float: none;
        margin-top: 17px;
    }
}

@media (min-width: 1200px) {
    .cont-lista-business-width{
        width: 880px;
    }
}