@charset "utf-8";

#form-change label{
    font-family: robotobold;
    font-size: 13.5px;
    margin-bottom: 3px;
}
.cont-listado-contenedor h2{
    margin-bottom: 20px;
}


#imageLogo {
    width: 128px;
    max-width: 130px;
}
#fileimageLogo{
    display: none;
}
#labelimageLogo {
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}


.btn_actualizar {
    font-size: 14px;
    color: #fff;
    border: none;
    background: #9ac53c;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: 5px;
}
#fileimageeditLogo{
    display: none;
}
#fileimageAddLogo{
    display: none;
}
#labelimageeditLogo{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}
#labelimageAddLogo{
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid;
    max-width: 270px;
}
#imageeditLogo{
    width: 268px;
    max-width: 270px;
}
#imageAddLogo{
    width: 268px;
    max-width: 270px;
}
.viewBusinessData{
    margin-left: 8px;
}
#logoBusinessView{
    margin-top: 12px;
}

#logoBusinessView{
    width: 130px;
}
#imageeditLogo ,#imageAddLogo{
    width: 128px;
    max-width: 130px;
}

@media (min-width: 420px) {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {

    #imageLogo {
        width: 163px;
        max-width: 165px;
    }
    #logoBusinessView {
        width: 165px;
        margin-top: 15px;
    }
    #imageeditLogo {
        width: 163px;
        max-width: 165px;
    }
    #imageAddLogo {
        width: 163px;
        max-width: 165px;
    }
}

@media (min-width: 992px) {
    .cont-lista-business-width{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {

    .cont-lista-business-width{
        width: 450px;
    }
}

@media (min-width: 1300px) {

}