@charset "utf-8";

.img-delete{
    cursor: pointer;
    width: 21px;
    margin-left: 5px;
}
.form-group{
    position: relative;
}
.form-control-padding{
    padding-left: 32px;
}
.form-group i{
    position: absolute;
    font-size: 15px;
    top: 9px;
    left: 10px;
    color: #777;
}
 textarea.form-control{
    height: 150px;
    resize: none;
 }
#listBusiness{
	border: 1px solid #dddddd;
}
#cont-listado-business{
    float: none;
    margin: 0 auto;
    background: #fff;
}

.table-responsive{
	border: none!important;
}
#cont-listado-business th, #cont-listado-business td{
	vertical-align: middle;
}
.btn_actualizar, .btn_add {
    font-size: 13.5px;
    color: #fff;
    border: none;
    background: #9ac53c;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: 5px;
    font-family: robotoregular;
}
h3{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 15px;
}
#btn_upload{
    text-align: center;
    margin-bottom: 18px;
}
#btn_upload button{
    background: #000;
    border: none;
    border-radius: 2px;
    padding: 6px 25px;
    font-family: robotoregular;
    color: #fff;
}
#btn_upload button i{
    margin-right: 7px;
}
#nota{
    width: 960px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 14px;
    font-size: 13px;
    font-family: robotobold;
}
#cont-list-sliders{
    width: 960px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
}
.cont-img{
    width: 300px;
    margin-right: 20px;
    float: left;
    margin-bottom: 15px;
    height: 230px;
}
.cont-img .cont-img-imagen img{
    width: 100%;
    max-height: 190px;
}
.cont-img-delete{
    margin-top: 8px;
    text-align: center;
}
.cont-img-delete img{
    width: 25px;
    cursor: pointer;
}
h2.secondTitle{
    margin-top: 35px;
}

@media (min-width: 420px) {

}

@media (min-width: 480px) {

}

@media (min-width: 768px) {
    .cont-listado-contenedor h2{
        margin-bottom: 17px;
    }
    #form-change label{
        font-family: robotobold;
        font-size: 14px;
        margin-bottom: 3px;
    }
}

@media (min-width: 992px) {

    .cont-lista-business-width{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
    #contTable{
        width: 960px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {

    .cont-lista-business-width{
        width: 450px;
    }
}

@media (min-width: 1300px) {

}