@charset "utf-8";

#modalUserView .modal-body,#modalUserEdit .modal-body,#modalUserAdd .modal-body{
    padding: 15px 15px 15px 15px;
}
#modalUserView .form-group,#modalUserEdit .form-group ,#modalUserAdd .form-group{
    margin-bottom: 6px;
    font-size: 12.5px;
}
#modalUserEdit .form-group{
    margin-bottom: 9px;
}

@media (min-width: 420px) {
    #modalUserView .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
    #modalUserEdit .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
    #modalUserAdd .modal-dialog {
        width: 370px;
        margin: 15px auto;
    }
}

@media (min-width: 480px) {
    #modalUserView .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
    #modalUserEdit .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
    #modalUserAdd .modal-dialog {
        width: 400px;
        margin: 22px auto;
    }
}

@media (min-width: 768px) {
    .modal-footer {
        padding: 4px 30px 15px 15px;
    }

    #modalUserView .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalUserEdit .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalUserAdd .modal-dialog {
        width: 475px;
        margin: 30px auto;
    }
    #modalUserView .form-group, #modalUserEdit .form-group, #modalUserAdd .form-group {
        margin-bottom: 5px;
        font-size: 13px;
    }
    #modalUserView .modal-body, #modalUserEdit .modal-body, #modalUserAdd .modal-body {
        padding: 25px 33px 15px 33px;
    }
}

@media (min-width: 992px) {
    #contTable{
        width: 880px;
        margin: 0 auto;
        float: none;
    }
}

@media (min-width: 1200px) {
    #contTable{
        width: 1100px;
    }
}

@media (min-width: 1300px) {
}